
<div class="jumbotron center">
	<h1>Welcome</h1>
	<p>Real Page!</p>
	<br>
	<p> <%= link_to "Log in", "#", class: "btn btn-lg" %>      <%= link_to " Sign up", "#", class: "btn btn-primary btn-lg" %> </p>


</div>




